<div>
  @if (showForm) {
  <!-- @if (isLoading) {
  <app-loader [message]="''"></app-loader>
  } -->
  <div nz-flex [nzVertical]="true" [nzAlign]="'center'" class="mt-4">
    <h2 class="mb-0 fw-normal">Forgot Password</h2>
    <div class="subHeading text-center">
      Enter your email address below, we will send you a password reset otp to
      help change your password.
    </div>
  </div>
  <div class="mt-4">
    <form (ngSubmit)="submitForm(form)" #form="ngForm">
      <div>
        <nz-form-item nz-col [nzSpan]="24">
          <nz-form-label [nzSpan]="24" nzFor="emailAddress"
            >Email <span class="text-danger">*</span></nz-form-label
          >
          <nz-form-control [nzSpan]="24" [nzErrorTip]="emailError">
            <input
              #emailModel="ngModel"
              nz-input
              name="emailAddress"
              type="text"
              id="emailAddress"
              [(ngModel)]="email"
              placeholder="Enter Email Address"
              [pattern]="emailPattern"
              required
            />
          </nz-form-control>

          <ng-template #emailError>
            @if (emailModel.touched && emailModel.control.errors?.['pattern']) {
            <small class="text-danger">Email invalid</small>
            } @else if (emailModel.touched &&
            emailModel.control.errors?.['required']) {
            <small class="text-danger">Email required</small>
            }
          </ng-template>
        </nz-form-item>
      </div>

      <div class="text-center mt-5">
        <button
          nz-button
          [nzType]="'primary'"
          [nzLoading]="isLoading"
          [disabled]="form.invalid"
          class="px-5"
        >
          Send
        </button>
      </div>
      <div class="mt-5 text-center">
        <small class="fw-medium"
          >Remember your password?
          <span class="pointer text-primary fw-normal" routerLink="/auth/login"
            >Login</span
          ></small
        >
      </div>
    </form>
  </div>
  } @else {
  <div class="text-center">
    <div>
      <img src="assets/images/Mailing list.svg" alt="" />
    </div>

    <h3 class="fw-600 mt-2">Password reset otp sent</h3>
    <div class="message">
      Please click the otp that has been sent to your work email “<b>{{
        email
      }}</b
      >” to verify your email.
    </div>
    <div class="mt-5">
      <small>
        <div class="mb-2">Didn't get the email?</div>
        <div class="text-primary pointer" (click)="showForm = true">
          Click here to resend
        </div>
      </small>
    </div>
  </div>
  }
</div>
